.Sboi{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align:center ;



}
.BodyB{
background-color: rgb(128, 228, 128) ;

}
.imgB{
    position:relative;
   margin-left: 30%;
    width: 40%;
    margin-top: 5%;

}
.texto4{
    display: flex;
    justify-content: center;


}